.actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;

    & i {
        cursor: pointer;
    }
}

table {
    width: 100%;
}

.edit, .delete{
    cursor: pointer;
    margin-right: 10px;
}

.edit {
    color: #d9cd26;
}

.delete {
    color: #e35e6b;
}

.info-icon {
    color: #808080;
}